*{
    margin:0;
    padding:0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.sec{
    font-family: 'lato',sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background: #f6f6f9;
    user-select: none;
    overflow-x: hidden;
}

a{
    color: black;
}
img{
    display: block;
    width: 100%;
}
.tx{
    font-family: 'Lato',sans-serif;
    font-weight: 800;
    font-size:1.8rem;
}
small{
    margin-top: 1.5rem;
    display: block;
    font-size: 0.53rem;
}
h2 {
    font-size: 0.87rem;
}
h3 {
    font-size: 0.87rem;
}
.profile-photo{
    width:2.8rem;
    height:2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: gray;
}

.contan{
    display: grid;
    width:96%;
    margin: 0 auto;
    gap:1.8rem;
    grid-template-columns: 14rem auto 23rem;

}

aside{
    height:auto;
    background: skyblue;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:1.4rem;
}

aside .logo img{
    width:10rem;
    height: 2rem;
}

aside .close{
    display: none;
}
aside .sidebar{
    display: flex;
    flex-direction: column;
    height:86vh;
    position: relative;
    top:3rem;
}

aside h2{
    font-weight: 500;
    color: white;
}

aside .sidebar a{
    display: flex;
    color: white;
    margin-left: 2rem;
    gap:1rem;
    align-items: center;
    position: relative;
    height:2.7rem;
    transition: all 0.3s ease;
}
aside .sidebar a span{
    transition: all 0.3s ease;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: white;
    color:black;
    margin-left: 0;
}

aside .sidebar a.active h2{
    color: black;
}
aside .sidebar a.active:before{
    content: '';
    width:6px;
    height:100%;
    background: black;
}

aside .sidebar a.active span{
    color: black;
    margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover{
    color: black;
}

aside .sidebar a:hover span{
    margin-left: 1rem;

}
.mein{
    margin-top: 1.4rem;
}

.mein .insights{
    display: grid;
    grid-template-columns:repeat(3, 11rem);
    gap:1.6rem;
}

.mein .insights > div{
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    box-shadow:0 2rem 3rem rgba(0,0,0,0.125);
    transition: all 0.3s ease;
}

.mein .insights > div:hover{
    box-shadow: none;
}

.mein .insights > div span{
    background: black;
    color: white;
    padding: 0.5rem;
    border-radius: 50%;
}

.mein .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mein .insights h3{
    margin:1rem 0 0.6rem;
    font-size: 1rem;
}
.mein .insights svg {
    width:7rem;
    height: 7rem;
}
.mein .insights .progress{
    position: relative;
    width:92px;
    height:92px;
    border-radius: 50%;
}
.mein .insights svg circle{
    fill:none;
    stroke: black;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px,5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

.mein .insights .progress .number{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mein .recent-order{
    margin-top: 2rem;
}

.mein .recent-order h2{
    margin-bottom: 0.8rem;
}

.mein .recent-order table{
    background: white;
    width:100%;
    border-radius: 0.8rem;
    padding:1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.125);
    transition:all 0.3ms ease;
}

.mein .recent-order table:hover{
    box-shadow: none;
}

.mein table tbody td{
    height:2.8rem;
    border-bottom: 1px solid rgba(132,139,200,0.18);
    color:#677483 
}
.mein table tbody tr:last-child td{
    border:none;
}

.mein .recent-order a{
    text-align: center;
    display: block;
    margin:1rem auto;
}

.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    gap:2rem;
}

.right .top button{
    display: none;
}

.right .theme-toggler{
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:1rem;
    width:3.5rem;
    cursor: pointer;
    border-radius: 0.8rem;
}
.right .theme-toggler span{
    font-size: 0.6rem;
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}