@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}


.about {
    flex: 1;
    /* Take up remaining space */
    min-width: 100%;
    /* Ensure full width */
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    background-color: #2d2a35;
    overflow: hidden;
}

.animefy {
    flex: 1;
    /* Take up remaining space */
    min-width: 100%;
    /* Ensure full width */
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    background-color: #965fd4;
    overflow: hidden;
}


.image {
    margin-top: 80px;
    background: url("../Assets/About.jpg") center/cover no-repeat;
    height: 500px;
    width: 600px;
    margin-left: 120px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    text-transform: uppercase;
    font-size: 36px;
    color: white;
    letter-spacing: 6px;
    opacity: 0.9;
}

.content span {
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}

.content p {
    color: white;
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    font-size: 18px;
}

/*****************/

@media(max-width: 992px) {
    section {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .image {
        height: 100vh;
    }

    .content {
        height: 100vh;
    }

    .content h2 {
        font-size: 20px;
        margin-top: 50px;
    }

    .content span {
        margin: 20px 0;
    }

    .content p {
        font-size: 14px;
    }
}